[submodule "third-party/mruby"]
	path = third-party/mruby
	url = https://github.com/TallySolutions/mruby.git
[submodule "third-party/neverbleed"]
	path = third-party/neverbleed
	url = https://github.com/TallySolutions/neverbleed.git
	branch = nghttp2
[submodule "tests/munit"]
	path = tests/munit
	url = https://github.com/TallySolutions/munit.git
[submodule "third-party/urlparse"]
	path = third-party/urlparse
	url = https://github.com/TallySolutions/urlparse.git
